@import url('https://fonts.googleapis.com/css?family=Poppins|Raleway&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	padding-top: 50px;
	padding-bottom: 20px;
}

/* NAV */

nav {
  font-size: 20px;
}

.nav-item a:hover {
  color: #7800FF !important;
}

.nav-item {
  padding-left: 25px;
}

.dropdown-menu {
  font-size: 15px;
}

.dropdown-item a:active {
  background-color: #EB0D8C !important;
  color: #ffff !important;
}

.navbar-brand {
  padding-left: 26px;
  padding-bottom: 18px;
  padding-top: 18px;
}

/* DESCRIPTION SECTION */



/* CARD SECTION */

.cardsection {
	padding-bottom: 150px;
}

.header2 {
	text-align: center;
	font-size: 50px;
	font-weight: bold;
	margin-bottom: -45px;
	padding-top: 30px;
}


.card-deck {
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
}

.card {
	border-style: none;
	box-shadow: .25px .25px 15px grey;
	width: 70px;
}

.card-title {
	font-weight: bold;
}


/* SHORT TEXT SECTION */

/* CONTACT SECTION */

/* FOOTER SECTION */
